apiVersion: v1
kind: Secret
metadata:
  name: {{ include "azure-devops-agents-exporter.fullname" . }}
  labels:
    {{- include "azure-devops-agents-exporter.labels" . | nindent 4 }}
type: Opaque
data:
{{- range .Values.config }}
  TFSEX_{{.serverName}}_ACCESSTOKEN: {{.accessToken | b64enc | quote }}
{{- end -}}
