{{- if .Values.basicSettings.fqdn -}}
{{- $fullName := include "tomtom-base-chart.fullname" . -}}
{{- if and .Values.advancedSettings.ingress.tls (eq .Values.advancedSettings.ingress.className "istio") -}}
{{- range .Values.advancedSettings.ingress.tls }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ $fullName }}-cert
spec:
  secretTemplate:
    annotations:
      kubed.appscode.com/sync: kubernetes.io/metadata.name=istio-ingress
  secretName: {{ $fullName }}-cert
  dnsNames:
    {{- range .hosts }}
    - {{ . }}
    {{- end }}
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: {{ $.Values.advancedSettings.ingress.certIssuer }}
  usages:
    - digital signature
    - key encipherment
{{- end }}
{{- end }}
---
{{- $svcPort := .Values.basicSettings.port -}}
{{- if and .Values.advancedSettings.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.advancedSettings.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.advancedSettings.ingress.annotations "kubernetes.io/ingress.class" .Values.advancedSettings.ingress.className}}
  {{- end }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "tomtom-base-chart.labels" . | nindent 4 }}
  {{- if or (.Values.advancedSettings.ingress.annotations) (eq .Values.advancedSettings.ingress.className "traefik") }}
  annotations:
    {{- if eq .Values.advancedSettings.ingress.className "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: {{ .Release.Namespace }}-{{ $fullName }}-ipallowlist@kubernetescrd
    {{- end -}}
    {{- with .Values.advancedSettings.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- end }}
spec:
  {{- if and .Values.advancedSettings.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.advancedSettings.ingress.className }}
  {{- end }}
  {{- if .Values.advancedSettings.ingress.tls }}
  tls:
  {{- range .Values.advancedSettings.ingress.tls }}
  - hosts:
      {{- range .hosts }}
      - {{ . }}
      {{- end }}
    secretName: {{ .secretName }}
  {{- end }}
  {{- end }}
  rules:
  {{- if not .Values.advancedSettings.ingress.hosts }}
  - host: {{ .Values.basicSettings.fqdn }}
    http:
      paths:
        - path: /
          pathType: ImplementationSpecific
          backend:
            {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
            service:
              name: {{ $fullName }}
              port:
                number: {{ $svcPort }}
            {{- else }}
            serviceName: {{ $fullName }}
            servicePort: {{ $svcPort }}
            {{- end }}
        {{- range .Values.advancedSettings.additionalEndpoints }}
        - path: {{ .ingressPath }}
          pathType: ImplementationSpecific
          backend:
            {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
            service:
              name: {{ $fullName }}
              port:
                number: {{ .port }}
            {{- else }}
            serviceName: {{ $fullName }}
            servicePort: {{ .port }}
            {{- end }}
        {{- end }}
  {{- end }}
  {{- range .Values.advancedSettings.ingress.hosts }}
  - host: {{ .host }}
    http:
      paths:
      {{- range .paths }}
        - path: {{ .path }}
          {{- if and .pathType (semverCompare ">=1.18-0" $.Capabilities.KubeVersion.GitVersion) }}
          pathType: {{ .pathType }}
          {{- end }}
          backend:
            {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
            service:
              name: {{ $fullName }}
              port:
                number: {{ $svcPort }}
            {{- else }}
            serviceName: {{ $fullName }}
            servicePort: {{ $svcPort }}
            {{- end }}
      {{- end }}
  {{- end }}
{{- end }}
