apiVersion: v1
kind: Service
metadata:
  name: {{ include "tomtom-base-chart.fullname" . }}
  labels:
    {{- include "tomtom-base-chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.advancedSettings.service.type }}
  ports:
  - port: {{ .Values.basicSettings.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    {{- include "tomtom-base-chart.selectorLabels" . | nindent 4 }}
